.is-clickable {
    cursor: pointer;
}

.is-height {
    height: 200px;
}

.m-center {
    margin: 0 auto;
}

.btn {
    background-color: #5559ab;
    border: 2px solid #5559ab;
    color: #fff;
    outline: 2px solid #fff;
    transition: outline-offset 100ms ease;
}

.btn:hover,
.btn:focus {
    outline-offset: -4px ;
}

@media (min-width: 768px) {
    .m-15-tablet {
        margin: 15px;
    }
}