<section class="hero is-fullheight-with-navbar is-bold">
  <div class="hero-body p-2">
    <div class="container has-text-centered">
      <div class="columns is-vcentered is-multiline">
        <div class="column is-7">
          <div class="contet">
            <h1 class="title is-size-3">Hi, I'm Rıdvan.</h1>
            <h2 class="subtitle is-family-sans-serif is-italic p-1">a frontend developer</h2>
            <p class="subtitle">passionate about web technologies, specializing in Angular, based on Istanbul</p>
            <div class="icons">

              <a href="https://www.facebook.com/ridvannakca/" target="_blank" class="fa fa-facebook m-1 p-1 icon is-medium"></a>
            
              <a href="https://twitter.com/ridvannakca" target="_blank" class="fa fa-twitter m-1 p-1 icon is-medium"></a>
           
              <a href="https://linkedin/in/ridvanakca" target="_blank" class="fa fa-linkedin m-1 p-1 icon is-medium"></a>
           
              <a href="https://ridvanakca.medium.com" target="_blank" class="fa fa-medium m-1 p-1 icon is-medium"></a>
            </div>
          </div>
        </div>
        <div class="column is-half-mobile is-centered-mobile is-offset-one-quarter-mobile is-5">
          <figure class="image">
            <img src="../../assets/site-content2.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>