<section class="hero is-small  is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="card">
        <div class="card-image is-flex is-horizontal-center">
          <figure class="image is-128x128 p-2">
            <img class="is-rounded" src="../../assets/profile-pic.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content p-4">
          <div class="media">
            <div class="media-content">
              <p class="title is-4 has-text-black">Rıdvan Akca</p>
              <p class="subtitle is-6 has-text-black">@ridvannakca</p>
            </div>
          </div>
      
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.</p> 
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-facebook has-text-white"></a>
            </span>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-twitter has-text-white"></a>
            </span>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-linkedin has-text-white"></a>
            </span>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-instagram has-text-white"></a>
            </span>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-medium has-text-white"></a>
            </span>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>