<section class="hero is-fullheight-with-navbar is-bold">
  <div class="hero-body p-2">
    <div class="container has-text-centered">
      <div class="columns is-vcentered is-multiline">
        <div class="column is-7">
          <div class="contet">
            <h1 class="title is-size-3">Hi, I'm Rıdvan.</h1>
            <h2 class="subtitle is-family-sans-serif p-1">a <span class="is-italic">frontend</span> developer</h2>
            <p class="subtitle">passionate about web technologies, specializing in Angular, based on Istanbul</p>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-facebook has-text-white"></a>
            </span>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-twitter has-text-white"></a>
            </span>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-linkedin has-text-white"></a>
            </span>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-instagram has-text-white"></a>
            </span>
            <span class="icon is-medium has-background-dark m-1">
              <a href="#" class="fa fa-medium has-text-white"></a>
            </span>
          </div>
        </div>
        <div class="column is-5">
          <figure class="image">
            <img src="../../assets/site-content2.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>