@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
/* Variables */
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);


$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

/* Font */

$font-size: 15px;
$font-stack: 'Spartan', sans-serif;
$font-light: 400;
$font-normal: 500;
$font-bold: 700; 