<div class="todos">
    <header class="app-title">
        <h1>ToDo App</h1>
      </header>

    <div class="input-container">
        <input class="inputTodo" type="text" placeholder="What needs to be done?">
        <button class="addBtn">Add</button>
    </div>

    <h2 class="todo-title">ToDo List</h2>
    <div class="todo-container">
        <div class="todo">
            <input class="todo-check" type="checkbox" name="todo-check">
            <div class="id">1</div>
            <p class="content">first todo</p>
        </div>
        <button class="deleteTodo">x</button>
    </div>
</div>
