.btn {
    background-color: #5559ab;
    border: 2px solid #5559ab;
    color: #fff;
    outline: 2px solid #fff;
    transition: outline-offset 100ms ease;

    &:hover,
    &:focus {
        outline-offset: -4px ;
    }

}

