<footer class="footer p-6 has-background-dark">
    <div class="container content has-text-centered-mobile">
      <div class="columns is-vcentered">
          <div class="column is-6">
            <p></p>
            <p class="has-text-light">&copy; Copyright 2021. All rights reserved.</p>
          </div>
          <div class="column is-6 has-text-white has-text-right-tablet">
              <span class="icon is-medium" style="width: 50%;">
                <a href="mailto:akca.ridvann@gmail.com" class="fa fa-envelope has-text-white">
                  Mail Me!
                </a>
              </span>
          </div>
      </div>
    </div>
</footer>

